/* Button Styles */

.scroll-up {
	position: fixed;
	bottom:-5px;
	right:40px;
	display:block;
}

.scroll-up2 {
	position: fixed;
	bottom:-5px;
	right:49px;
	display:block;
}

.btn {

	box-sizing: border-box;
	border-radius:  6px 6px 0 0;
	position:relative;
	display:inline-block;
	overflow: hidden;
	font-size:.9em;
	color:#FFF;
	text-align: center;
}
.icon , .title {
	display:block;
	position: relative;
}
.icon {
	background-color: transparent;
	padding:10px 8px 30px;
	text-shadow: 0 1px 1px #000;
}
.title {
	background-color:red;
	padding:5px 8px 10px;
	letter-spacing: normal;
}
.icon-top {
	position: absolute;
	left:0;
	bottom:0;
	width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom:15px solid white;
    box-shadow: 0 14px 0 0 red;
    transition: all .15s;
}

/* Hover Style */
.btn:hover .icon-top {
	bottom:8px;
}
