body {background-color: #1a237e; overflow: hidden; font-family: Helvetica;}
.hand {position: absolute; left: 0; top: 0;}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.btn > span {
	background-color: #fff;
	padding: 13px 20px;
	text-decoration: none;
	border-radius: 3px;
	color: rgba(0,0,0,0.7);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	margin: 10px;
}


h1{
  font-size: 50px;
  color:pink;
  margin-left: 38%;

}
