#arti{
  position: absolute;
  display: inline-block;
}

#artii{
  position: absolute;
  display: none;

}

#onon{
  position: absolute;
  display: none;

}

#deepdeep{
  position: absolute;
  display: none;

}

#onfruit{
  position: absolute;
  display: none;


}

#deepfruit{
  position: absolute;
  display: none;


}
