#arti{
  position: absolute;
  display: inline-block;
}

#artii{
  position: absolute;
  display: none;

}

#onon{
  position: absolute;
  display: none;

}

#deepdeep{
  position: absolute;
  display: none;

}

#onfruit{
  position: absolute;
  display: none;


}

#deepfruit{
  position: absolute;
  display: none;


}


h1{
  font-size: 8.7em;
  font-family: futura;
  margin: 50px;
}

h2{
  font-size: 5em;
  color:#A6B790;
  margin: 50px;

}
p{
  font-size: 3.5em;
  margin: 50px;
}

.lable{
  font-size: 3em;

}

body{
  color:white;
  background-color: #37444F;
  font-family: futura;


}
