#aspara{
  position: absolute;
  display: inline-block;
}

#asparaa{
  position: absolute;
  display: none;

}

#asparayes{
  position: absolute;
  display: none;

}

#asparano{
  position: absolute;
  display: none;

}

#nofruit{
  position: absolute;
  display: none;


}

#yesfruit{
  position: absolute;
  display: none;


}
