#bean{
  position: absolute;
  display: inline-block;
}

#beann{
  position: absolute;
  display: none;

}

#beanyes{
  position: absolute;
  display: none;

}

#beanno{
  position: absolute;
  display: none;

}

#yofruit{
  position: absolute;
  display: none;


}

#nofruit{
  position: absolute;
  display: none;


}
