#cilan{
  position: absolute;
  display: inline-block;
}

#cilann{
  position: absolute;
  display: none;

}

#stemstem{
  position: absolute;
  display: none;

}

#elbowelbow{
  position: absolute;
  display: none;

}

#elfruit{
  position: absolute;
  display: none;


}

#stfruit{
  position: absolute;
  display: none;


}
