#cucumber{
  position: absolute;
  display: inline-block;
}

#cucumberr{
  position: absolute;
  display: none;

}

#cumber{
  position: absolute;
  display: none;

}

#cucumberfour{
  position: absolute;
  display: none;

}

#onefruit{
  position: absolute;
  display: none;


}

#fourfruit{
  position: absolute;
  display: none;


}
