#leekk{
  position: absolute;
  display: inline-block;
}

#leekkk{
  position: absolute;
  display: none;

}

#leekyes{
  position: absolute;
  display: none;

}

#leekno{
  position: absolute;
  display: none;

}

#nofruit{
  position: absolute;
  display: none;


}

#yesfruit{
  position: absolute;
  display: none;


}
