html {
  height: 100%;
  background: linear-gradient(white, #f6f4fa);
  font-family: helvetica;
  color: #FF0050;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1{
  color:white;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: ;
  top: -874px;
  left:0;
}

#container {
  display: flex;
  width:100%;
  overflow: hidden;
  top:0px;
}

.background {
  position: absolute;
  width: 980px;
  height: 1743px;
}

.background svg {
  fill: #ffccdc;
  stroke: #FF0050;
  stroke-width: 2px;
}

.background .label {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 30px;
  color: white;
  font-size: 4em;
}

.box {
  position: absolute;
  width: 980px;
  height: 1743px;
}

.boxcontent {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: ;
  background-color: #f6f4fa;
  border-radius: ;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
  overflow: hidden;
}

.box:last-of-type .boxcontent {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.box img {
  width: 102%;
  height: 100%;
}

.box img .one{
  width: 105%;
  height: 95%;
}

.name {
  font-size: 14.4em;
  font-weight: bold;
  top:0;
  display: relative;
  position: absolute;
  z-index:-1
  color:white;
  margin-left: 50px;
  margin-top: 60px;
  font-family: helvetica;
}



.rectangle {
	width: 200px;
	height: 100px;
	background: red;
}


@media screen and (min-width: 400px) {

  .box {
    position: absolute;
    width: 980px;
    height: 1743px;
  }

}

p{
position: relative;
display: inline-block;
top: 0px;
font-weight: bold;
font-family: helvetica;
font-size: 5em;
}

* {
  box-sizing: border-box;
}

.window {
  width: 980px;
  height: 1743px;

  overflow: hidden;
  border-radius: 12px;
  position: relative;
  margin: ;
}

.sp-panel {
  width: 980px;
  height: 1743px;
  top:-50px;
  float: left;
}

.sp-panel-set {
  width: 400%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transition: 0.4s;
  /*overflow:hidden;*/
}

.one {
  width: 980px;
  height: 1743px;
}

.two {
  background: ;
}


.buttons {
  position: absolute;
  top: 1%;
  left:22%;
  color: #fff;
  font-size: 6em;
  font-weight: ;
}
.buttons .left, .buttons .right {
  display: inline-block;
  margin: 60px;
  cursor: pointer;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 25%;
  color: white;
  font-size: 5em;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.panel-toggle-right {
  margin-right: -600px;
}

.panel-toggle-left {
  margin-left: -600px;
}

h1, h3 {
  text-align: center;
  color: #666;
}

.photo{
  z-index: -2;
  position:relative;

}
