html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.card-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 500px;
  width: 500px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #219a47;
  color: #FFF;
  text-align: center;
  padding-top: 25%;
  font-size: 80px;
  line-height: 130px;
  cursor: pointer;
  user-select: none;
  font-family: sans-serif;
  text-transform: uppercase;
}
.card.moving {
  will-change: transform;
}
.card.card.animating-out {
  will-change: transform;
  transition-duration: .3s;
}
